@model IEnumerable<Proyecto_Final.Models.usuario>
<select class="form-control" id="id_usuario" name="id_usuario">
    @foreach (var kev in Model)
    {
        <option value="@kev.id"> @kev.nombre </option>
    }
</select>
